<template>
  <div>
    <h2>Con acceso a la zona restringida</h2>
    <div class="worker" v-for="(worker,index) in info" :key="index">
      <Miniature :info="info" :position="index"  />
    </div>
    <h3 v-show="isListEmpty()">No hay trabajadores/as asignados a esta lista</h3>
  </div>
</template>

<script>
import Miniature from './Miniature.vue'
export default {
  data() {
    return {}
  },

  components: {
    Miniature
  },
  props: ['info', 'index'],

  methods: {
    isListEmpty() {
      return this.info.length === 0
    },  
  }
}
</script>

<style>
.worker{
  /* background-color: radial-gradient(green, greenyellow) */
  background:linear-gradient(green, greenyellow)
}
.worker:hover {
  transform: scale(1.15);
  cursor:pointer;
}
h3{
  color: white;
  
}
</style>