<template>
  <div>
    <h2> Sin acceso a la zona restringida</h2>
    <div class="noWorker" v-for="(workers,index) in info" :key="index">
      <Miniature :info="info" :position="index" />
    </div>
    <h3 v-show="isListEmpty()">No hay trabajadores/as asignados a esta lista</h3>
  </div>
</template>

<script>
import Miniature from './Miniature.vue'

export default {
  data() {
    return {}
  },

  props: ['info', 'index'],

  components: {
    Miniature
  },
  methods: {
    isListEmpty() {
      return this.info.length === 0
    }
  }
}
</script>

<style>
.noWorker{
  background:linear-gradient(red,#8e0327);
}

.noWorker:hover {
  transform: scale(1.15);
  cursor:pointer;
}
</style>