<template>
  <div>
    <input type="file" @change="selectFoto" />
  </div>
</template>

<script>
export default {
  data() {
    return {
      selectedFoto: null
    };
  },

  methods: {
    selectFoto(event) {
      this.selectedFoto = event.target.files[0]
      this.$emit('updateFoto', this.selectedFoto)
    }
  }
};
</script>

<style>
</style>