<template>
  <div class="container">
    <form @submit.prevent="addWorker">
      <h1>Introduce los datos del trabajador/a</h1>
      <div class="content">
        <div class="foto">
          <p>Fotografía de Perfil</p>
          <img :src="newWorker.foto" width="205px" />
          <FotoUploader @updateFoto="updateFoto" />
        </div>
        <div class="info">
          <div class="name">
            <p>Nombre:</p>
            <input v-model="newWorker.name" placeholder="Nombre" />
          </div>
          <div class="surname">
            <p>Apellidos:</p>
            <input v-model="newWorker.surname" placeholder="Apellidos" />
          </div>
          <div>
            <select class="select" v-model="newWorker.access">
              <option disabled value hidden>¿Acceso a la zona restringida?</option>
              <option>Sí</option>
              <option>No</option>
            </select>
          </div>
          <div>
            <button class="button" type="submit">Enviar datos</button>
          </div>
        </div>
      </div>
      <div class="lists">
        <div class="list">
          <AccessOKList :info="accessOk" />
        </div>
        <div class="list">
          <AccessDeniedList :info="noAccess" />
        </div>
      </div>
    </form>
  </div>
</template>

<script>
import FotoUploader from './FotoUploader'
import AccessOKList from './AccessOKList'
import AccessDeniedList from './AccessDeniedList'
import { eventBus } from '../main'
import Firebase from 'firebase'
import config from '../config'
let app = Firebase.initializeApp(config)
let dataBase = app.database()
let accessRef = dataBase.ref('accessOk')
let noAccessRef = dataBase.ref('noAccess')

export default {
  components: {
    FotoUploader,
    AccessOKList,
    AccessDeniedList
  },

  firebase: {
    accessOk: accessRef,
    noAccess: noAccessRef
  },

  data() {
    return {
      newWorker: {
        name: '',
        surname: '',
        access: '',
        foto:
          'https://upload.wikimedia.org/wikipedia/commons/0/0e/Lakeyboy_Silhouette.PNG'
      },
      accessOk: [],
      noAccess: [],
      message: '',
      editing: false,
      position: null,
      editingWorker: null,
      missingInfo: {
        icon: 'info',
        title:
          'Tus datos han sido enviados pero faltan datos sobre el trabajador. (Revisa nombre y apellidos)',
        text: 'Puedes editar la información pulsando sobre la miniatura',
       
      },
      accessNotSpecified: {
        icon: 'error',
        title: 'Permiso no especificado',
        text:
          ' Por favor, indica si el trabajador tiene acceso a la zona restringida',
       
      },
      dataSent: {
        position: 'center',
        icon: 'success',
        title: 'Datos Enviados Correctamente',
        showConfirmButton: false,
        timer: 1500
      }
    }
  },

  methods: {
    updateFoto(selectedFoto) {
      this.newWorker.foto = URL.createObjectURL(selectedFoto)
    },

    addWorker() {
      if (this.editing) {
        this.editWorkerInfo()
      }
      this.evaluateInput()
      if (this.hasAccessGranted()) {
        this.placeInAccessList()
      }
      if (this.hassAccessDenied()) {
        this.placeInNotAccessList()
      }
      this.resetData()
    },

    evaluateInput() {
      if (!this.editing) this.message = this.dataSent

      if (this.hasIncompleteInfo()) {
        this.message = this.missingInfo
      }
      if (this.hasNotSpecifiedAccess()) {
        this.message = this.accessNotSpecified
      }
      if (this.message != '') return this.$swal(this.message)
    },

    resetData() {
      this.newWorker.name = ''
      this.newWorker.surname = ''
      this.newWorker.foto =
        'https://upload.wikimedia.org/wikipedia/commons/0/0e/Lakeyboy_Silhouette.PNG'
      this.newWorker.access = ''
    },

    hasIncompleteInfo() {
      return this.newWorker.name === '' || this.newWorker.surname === ''
    },
    hasNotSpecifiedAccess() {
      return this.newWorker.access === ''
    },
    hasAccessGranted() {
      return this.newWorker.access == 'Sí'
    },
    hassAccessDenied() {
      return this.newWorker.access == 'No'
    },

    placeInAccessList() {
      return accessRef.push(this.newWorker)
    },

    placeInNotAccessList() {
      return noAccessRef.push(this.newWorker)
    },
    editWorkerInfo() {
      this.editingWorker.remove()
      this.editing = false
    }
  },

  created() {
    eventBus.$on('workerSelected', (worker, position) => {
      this.newWorker.name = worker.name
      this.newWorker.surname = worker.surname
      this.newWorker.access = worker.access
      this.newWorker.foto = worker.foto
      this.position = position
      this.editing = true
      if (this.hasAccessGranted())
        this.editingWorker = accessRef.child(this.accessOk[position]['.key'])
      if (this.hassAccessDenied())
        this.editingWorker = noAccessRef.child(this.noAccess[position]['.key'])
    })
  }
}
</script>

<style>
p {
  font-size: 35px;
}

.container {
  margin-top: 20.5px;
  margin-bottom: 100.5px;
  align-items: center;
  justify-content: space-between;
  width: 900px;
  margin: 0 auto;
}

.content {
  display: flex;
}

.info {
  display: block;
  margin-top: 25px;
}

.surname {
  margin-bottom: 27.5px;
}

.foto {
  display: inline-block;
  margin-right: 50px;
  margin-top: 25px;
}

.lists {
  display: flex;
  justify-content: center;
}

.list {
  padding: 100px;
}
.button {
  background-color: rgb(60, 60, 75);
  border-radius: 4px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  box-shadow: 0 9px #999;
  margin-top: 60px;
}

.button:active {
  background-color: rgb(60, 60, 75);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.select {
  position: relative;
  float: right;
  padding: 8px 12px;
  color: white;
  background-color: rgb(60, 60, 75);
  border: 1px solid #dddddd;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0 9px #999;
  font-size: 17.5px;
}
.select:focus,
.select:hover {
  outline: none;
  border: 1px solid #dddddd;
}
.select option {
  background: white;
  color: black;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: 17.5px;
}
</style>