<template>
  <div class="miniature" @click="selectWorker">
    <img :src="info[position].foto" />
    <div class="info">
     <div> {{info[position].name}}</div>
      <div>{{info[position].surname}}</div>
    </div>
  </div>
</template>

<script>
import { eventBus } from '../main'
export default {
  name: 'Miniature',

  data() {
    return {
      worker: ''
    }
  },

  props: ['info', 'position'],
  methods: {
    selectWorker() {
      this.worker = {
        name: this.info[this.position].name,
        surname: this.info[this.position].surname,
        foto: this.info[this.position].foto,
        access: this.info[this.position].access
      }

      eventBus.$emit('workerSelected', this.worker, this.position)
    }
  }
}
</script>

<style>
.miniature {
  width: 260px;
  height: 90px;
  border: dimgray;
  border-style: outset;
  border-radius: 2px;
  margin-bottom: 15px;
  align-content: flex-end;
  display: flex;
  opacity:0.95;
}

.info {
  display: block;
  font-size: 22px;
}
img {
  border-radius: 4px;
  height: 85px;
  width: 80px;
}
</style>