<template>
  <div id="app">
    <Header />
    <InputForm />
  </div>
</template>
<script>
import InputForm from './components/InputForm'
import Header from './components/Header'

export default {
  components: {
    InputForm,
    Header
  }
}
</script>

<style>
#app {
  background: radial-gradient(cornflowerblue, lightslategrey);
  display:block;
  font-family: "Avenir", Helvetica, Arial, sans-serif;
}
</style>
